* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 31, 31);
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-areas:
        "aside main";

}

aside {
    background-color: rgba(70, 63, 63, 0.481);
    grid-area: aside;
    height: 97vh;
    width: 14rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
    margin: 10px 10px 10px 10px;
    padding: 0px 40px 0px 40px;
    border-radius: 10px;
}

aside h1 {
    color: rgb(226, 43, 162);
}

h4 {
    margin-bottom: 15px;
    color: rgb(226, 43, 162);
    font-size: 15px;
    font-family: "Arial", sans-serif;
}

.menuitem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;


}

.menucolor {
    color: aliceblue;
}















main {

    grid-area: main;

    height: 100%;
}

#first_page {
    height: 100vh;
    background-image: url('img/backgroundimg.png');
    background-size: cover;
    background-position: center;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

.nevigation {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: 20px;

}

.login,
.signup {
    height: 50px;
    width: 15%;
    font-size: 15px;
    background-color: transparent;
    border-color: rgb(248, 7, 151);
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.signup {
    background-color: rgb(248, 7, 151);
    cursor: pointer;
}

.home {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    color: aliceblue;
    gap: 30px;

}

.home h1 {
    font-size: 45px;
}

.home span {
    color: rgb(247, 43, 186);
}

#homebutton {
    display: flex;
    width: 80%;
    gap: 20px;
    position: absolute;
    margin-top: -13%;
    margin-left: 13px;
}

.secondpage {
    padding: 0px 20px 0px 20px;

}

.secondpage h1 {
    margin-top: 20px;
    color: aliceblue;
    margin-left: 30px;
}

#ws {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

}

.colorpink {
    color: rgb(247, 43, 186);
}

.viewallcont {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.viewallcont button {
    width: 60px;
    height: 60px;
    background-color: rgba(67, 67, 67, 0.644);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.viewallcont h3 {
    color: white;
    font-size: small;
}



#ws1 {
    margin-top: 10px;

    background-color: rgba(83, 74, 74, 0.758);
    width: 190px;
    padding: 20px 16px 20px 20px;
    border-radius: 10px;

}

#ws1 img {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
}

#ws1 h3 {
    color: aliceblue;
    font-size: 16px;
}

#ws1 p {
    color: rgb(132, 133, 134);
    font-size: 12px;
    margin-top: 5px;
}


.artistsection {
    padding: 0px 20px 0px 20px;

}

.artistsection h1 {
    margin-top: 20px;
    color: aliceblue;
    margin-left: 30px;
}

#artist {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;

}

#artist1 {
    margin-top: 10px;

    width: 160px;
    padding: 20px 16px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#artist1 img {
    height: 130px;
    width: 130px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

#artist1 h3 {
    color: aliceblue;
    margin-top: 10px;
}


#musicvideo {
    padding: 0px 20px 0px 20px;

}

#musicvideo h1 {
    margin-top: 20px;
    color: aliceblue;
    margin-left: 30px;
}

#videolist {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#video1 {
    margin-top: 10px;

    background-color: rgba(63, 59, 59, 0.595);
    width: 340px;
    padding: 10px 8px 10px 10px;
    border-radius: 10px;

}

#video1 img {
    height: 150px;
    width: 320px;
    background-size: cover;
    background-position: center;
}

#video1 h3 {
    color: aliceblue;
}

#video1 p {
    color: rgb(132, 133, 134);
    font-size: 12px;
    margin-top: 5px;
}

.naview {
    display: flex;
    justify-content: space-between;
}




#moodlist {
    padding: 0px 20px 0px 20px;

}

#moodlist h1 {
    margin-top: 20px;
    color: aliceblue;
    margin-left: 30px;
}

#moodlist1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#ml1 {
    margin-top: 10px;

    background-color: rgba(63, 59, 59, 0.595);
    width: 190px;
    border-radius: 10px;

}

#ml1 img {
    height: 190px;
    width: 190px;
    background-size: cover;
    background-position: center;
}

#ml1 h3 {
    color: aliceblue;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
}














.thirdpage {
    height: 100vh;
    margin-top: 90px;
}

.ts {
    font-size: 50px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
}


tr {
    display: flex;
    justify-content: start;
    background-color: rgba(69, 70, 71, 0.741);
    margin-top: 25px;
    width: 95%;
    margin-left: 30px;


}

table {
    width: 100%;
}


td {
    display: flex;
    align-items: center;
    margin-right: 70px;
    margin-left: 10px;
    color: white;


}





td a {
    width: 120px;
    height: 60px;
    align-content: center;
    color: rgb(100, 96, 96);
    font-size: 15px;

}

td span {
    color: rgb(231, 255, 255);
    font-size: 28px;
}

td img {
    width: 70px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;

}

td h1 {
    font-weight: bold;


}

#albumname {
    width: 350px;

}

#time {
    width: 80px;
    display: flex;
    justify-content: center;

}

#time img {
    width: 30px;
    height: 30px;
    margin-right: -1px;
}

#time a {
    color: white;
}


#fourthpage {
    display: flex;


    height: 50vh;
    width: 100%;
    margin-left: 10px;
    margin-top: 50px;


}



.jop {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 50px;

}

.colorblue{
    color: rgb(25, 25, 218);
}

.joptext {
    width: 48%;
    color: aliceblue;
}

#fourthpage h1 {
    margin-bottom: 5%;
}


form {

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(224, 61, 188, 0.556);
    margin-right: 30px;
}

.fnm {
    display: flex;
    justify-content: center;

    padding: 10px;
    width: 90%;
    margin-left: 5%;

}

#name,
#number {
    height: 40px;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    outline: none;
    border: 3px solid rgb(221, 221, 221);
    background-color: transparent;
    border-radius: 5px;

}

#name {
    background-image: url('formicon/Vector.png');
    background-repeat: no-repeat;
    background-size: 18px;
    /* image size */
    background-position: 10px center;
    /* position */
    padding-left: 35px;
}

#number {
    background-image: url('formicon/fluent_call-28-regular.png');
    background-repeat: no-repeat;
    background-size: 18px;
    /* image size */
    background-position: 10px center;
    /* position */
    padding-left: 35px;
}

.formhead {
    display: flex;
    justify-content: center;
    gap: 20px;

}



.signh {
    color: rgb(247, 43, 186);

}
.loginh {
    color: white;

}

#email {
    margin-left: 5%;
    width: 88%;
    height: 40px;
    margin-top: 5px;
    outline: none;
    border: 3px solid rgb(221, 221, 221);
    background-color: transparent;
    border-radius: 5px;
    background-image: url('formicon/Vector\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 18px;
    /* image size */
    background-position: 10px center;
    /* position */
    padding-left: 35px;

}

label {
    color: white;
}

#labelemail {
    margin-left: 5%;
    margin-top: 10px;
}

::placeholder {
    color: aliceblue;
    padding: 10px;
}

#button {
    margin-left: 5%;
    width: 88%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;

    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;


}

.buttonsig {
    background-color: rgb(222, 36, 138);
    border: none;

}

.buttongoogle {
    background-image: url('formicon/devicon_google.png');
    background-repeat: no-repeat;
    background-size: 20px;
    /* image size */
    background-position: 100px center;
    background-color: transparent;
    /* position */
    padding-left: 35px;
    border: 2px solid white;

}


footer {
    display: flex;
    height: 50vh;
    width: 100%;
    margin-left: 10px;
    margin-top: 2%;
    background-color: rgba(72, 74, 74, 0.459);
    align-items: center;
}

#abouts {
    width: 20rem;
    height: 10rem;
    margin-left: 20px;
    color: aliceblue;
}

#otherlinks {
    display: flex;
    gap: 20px;
    height: 20rem;
}

.Melodies,
.Access,
.Contact {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10%;
    color: aliceblue;

}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    color: rgb(208, 22, 158);
    font-size: 20px;
}
.link1{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.link1 img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}