.play {
    width: 85%;
    height: 15%;
    background-color: rgba(218, 43, 133, 0.414);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    margin-top: 40%;
    position: fixed;
    top: 0;
}

.player-background {
    width: 40vh;
    height: 12vh;
    display: flex;
    gap: 10px;
}

.player-background img {
    width: 10vh;
    height: auto;

}

#audio-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio-time{
    display: flex;
    justify-content: space-between;
    
}

.audio-time p{
    margin: 0;
}
.audio-control-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.audio-control-button img{
    height: 40px;
    width: 40px;
}


#progress{
    width: 60vh;
    background-color: rgb(189, 32, 121);
   
}

#music-control{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#music-control img{
    height: 20px;
    width: 20px;
}
